on:
  push:
    tags:
      - 'v*'

name: Create Release

permissions:
  pull-requests: write
  contents: write

jobs:
  apply-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tagged commit
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
          persist-credentials: true
          
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PAT_TOKEN }}
          branch: "docs/update"
          
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: "main"
          branch: "docs/update"
          commit-message: "Docs Update"
          title: "Docs Update for ${{ github.ref_name }}"
          body: "Docs Update for ${{ github.ref_name }}"
          add-paths: |
            API/*
            
      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.PAT }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: squash
          
      - name: Create Release
        if: steps.cpr.outputs.pull-request-operation == 'created'
        id: create_release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          draft: false
          title: "Release ${{ github.ref_name }}"
          files: |
            API/*
